<?xml version="1.0" encoding="utf-8"?>

<head>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <link rel="apple-touch-icon" href="./SapporoSubway.png" />
    <link rel="stylesheet" type="text/css" href="traintime.css" />
    <title>TrainTime</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="dist/app.js"></script>
    <script type="text/javascript" src="timetable.js"></script>
</head>

<body>
    <div id="app">
        <span v-for="(table, index) in timetables">
            <button v-on:click="setTimetable(index)" target="index">{{table.shortname}}</button>
        </span>
        <span>
            <br/> {{times.name}} [{{currenttime}}]
        </span>
        <br/> Debug:
        <input type="checkbox" v-model="debug">
        <span v-if="debug">
            <input v-model.number="debug_hour" type="number" style="width: 60px" pattern="[0-9]{1,3}"> :
            <input v-model.number="debug_min" type="number" style="width: 60px" pattern="[0-9]{1,3}">
        </span>
        <br/> All:
        <input type="checkbox" v-model="all">
        <span v-if="!all">
            <span v-if="nextTime">
                <div class="active">
                    次は {{nextTime.hour}}:{{nextTime.min}} 発 発車まであと{{nextTime.depart}}分
                </div>
                <span v-for="transfer in getTransferTime(times.shortname,nextTime.hour,nextTime.min)" class="transfer">
                    └{{transfer.linename}} {{transfer.arrivalHour}}:{{transfer.arrivalMin}}着 {{transfer.rideHour}}:{{transfer.rideMin}}発 ({{transfer.waitMin}}分待ち)
                    <br/>
                    <span v-for="transfer2 in getTransferTime(transfer.linename,transfer.rideHour,transfer.rideMin)">
                        │└{{transfer2.linename}} {{transfer2.arrivalHour}}:{{transfer2.arrivalMin}}着 {{transfer2.rideHour}}:{{transfer2.rideMin}}発 ({{transfer2.waitMin}}分待ち)
                        <br/>
                    </span>
                </span>
                <div class="next-line" v-if="nextTime.ahour > 0">
                    その次は {{nextTime.ahour}}:{{nextTime.amin}} 発 発車まであと{{nextTime.adepart}}分
                </div>
                <span v-for="transfer in getTransferTime(times.shortname,nextTime.ahour,nextTime.amin)" class="transfer">
                    └{{transfer.linename}} {{transfer.arrivalHour}}:{{transfer.arrivalMin}}着 {{transfer.rideHour}}:{{transfer.rideMin}}発 ({{transfer.waitMin}}分待ち)
                    <br/>
                    <span v-for="transfer2 in getTransferTime(transfer.linename,transfer.rideHour,transfer.rideMin)">
                        │└{{transfer2.linename}} {{transfer2.arrivalHour}}:{{transfer2.arrivalMin}}着 {{transfer2.rideHour}}:{{transfer2.rideMin}}発 ({{transfer2.waitMin}}分待ち)
                        <br/>
                    </span>
                </span>
            </span>
            <span v-else>
                Out of Service
            </span>
        </span>
        <span v-if="hours.length">
            <table border="0">
                <tr v-for="hour in hours" class="current-row">
                    <td style="text-align: right">{{hour}}</td>
                    <td>
                        <span v-for="m in mins(hour)"> {{m}}</span>
                    </td>
                </tr>
            </table>
        </span>
        <span v-else>
            <br/>Out of Service</span>
    </div>
</body>

</html>