body {
    /* color: black; */
    font-size: 20px;
}

table {
    font-size: 20px;
    background-color: black;
    border-radius: 5px;
}

.active {
    font-size: 20px;
    font-weight: bold;
    background-color: #ddf;
}

.next-line {
    font-size: 16px;
    background-color: #dff;
}

.transfer {
    font-size: 13px;
    background-color: #eee;
}

.current-row {
    background-color: #7aa;
    color: #fff;
}
.nearest_time {
    background-color: #fbb;
    font-size: 15px;
}
.next-row {
    background-color: #ffffff;
}

.linename {
    font-size: 20px;
    background-color: transparent;
    background-image: url("./titleback.png");
    background-repeat: repeat-y;
}

.next-time {
    color: #006600;
}